.offer-title{
    text-align: center;
    margin-top: 10px;
}

.offer-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 20px;
}