// NAVBAR
.nav_left-menu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 100px;

}

.nav_right-menu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_right_icon-menu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

//Logo
.nav_logo_img {
    width:  100px;
    height: 100px;
}

.menu_link {
    color: #000;
    font-size: 14px;
    font-weight: bolder;
    padding: 0 13px;
}

.menu_link:hover{
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    border-width: 1px;
    border-radius: 16px;
    padding: 7px 11px;
    margin: 3px 2px;

}