.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    position: relative;
}

// Nav left

.nav_left-menu{
    display: flex;
    align-items: center;
}

.submenu {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $background-color;
    z-index: 9999;
    height: 0vh;
    width: 100%;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

.menu-item:hover {
    .submenu {
        height: 88.8vh;
    }
}

.submenu-title {
    width: 180px;
    border-bottom: 2px solid $primary-color;
    font-size: 35px;
    font-weight: bold;
}

.submenu-items {
    margin: 20px 0;
    font-weight: 400;
    font-size: 20px;
    width: 250px;
    cursor: pointer;
    position: relative;
    background-color: $background-color;
}

.submenu-items:hover .submenu-items-list {
    transform: translateX(0px);
    opacity: 1;
    display: inline-block;
    li {
        width: auto;
        clear:both;
        float:left;
        white-space:nowrap;
        overflow:hidden;
    }
}

.submenu-items-list {
    position: absolute;
    left: 250px;
    font-size: 18px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    transform: translateX(-100px);
    opacity: 0;
    background-color: none;
    li {
        position: relative;
        padding: 0;
        margin: 10px 0;
        width: 0;
    }
    li::after {        
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 1px;
        left: 50%;
        position: absolute;
        background: #000;
        transition: width 0.2s ease 0s, left 0.2s ease 0s;
        width: 0;
    }
    
}

.submenu-items-list {
    li:hover::after {
        width: 100%; 
        left: 0; 
    }
}
.list-1 {
    top: -20px;
}

.list-2 {
    top: -70px;
}

.list-3 {
    top: -120px;
}

.list-4 {
    top: -170px;
}

.list-5 {
    top: -220px;
}

.list-6 {
    top: -270px;
}

.list-7 {
    top: -320px;
}

//Logo

.nav_logo_img {
    width:  100px;
}

.menu_link {
    color: #000;
    font-size: 14px;
    font-weight: bolder;
    padding: 8px 10px;
    &:hover {
        color: $text-color-primary;
        border-radius: 50px;
        background-color: $primary-color;
    }
}

// Nav right

.nav_right-menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .menu-icon:last-child .menu-icons {
        margin-right: 0;
    }
}

.menu-icons {
    margin: 0 10px;
    svg {
        height: 23px;
    }
}

