// NAVBAR
.nav_left-menu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
 
}

.nav_right-menu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav_right_icon-menu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
 
}

//Logo
.nav_logo_img {
    width:  100px;
    height: 100px;
}

.menu_link {
    color: #000;
}

